
/* ==================================================== */
/* 01. Global Content Styles                            */
/* ==================================================== */

@font-face {
	font-family: 'FontAwesome';
	src: url('../font-awesome/fonts/fontawesome-webfont.eot?v=4.3.0');
	src: url('../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../font-awesome/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../font-awesome/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../font-awesome/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	height: 100%;
	width: 100%;
	line-height: 24px;
	font-size: 16px;
	color: #666666;
	background-color: #ffffff;
}
/* Link Styling */

a, a:hover, a:active, a:visited, a:link {
	outline: none;
	color:#1a3853;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	text-decoration: none;
}
 a {
    font-size:16px;
    color: #170b66;
    font-family: 'Roboto', sans-serif;
}
/* Headings */

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    font-weight:600;
    margin: 0 0 10px 0;
    color: #170b66;
    line-height: 44px;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size:28px;
	margin: 0 0 10px 0;
	color: #180c66;
	font-weight: 600;
}
h2 span {
	margin: 0 0 0 0;
    font-family: 'Roboto', sans-serif;
	font-size:65px;
	color: #180c66;
	font-weight:400;
	line-height:35px;
	text-transform: capitalize;
	display:block;
}
h3 {
	margin: 0 0 0 0;
	font-family: 'Roboto', sans-serif;
	font-size:30px;
	color: #000000;
	font-weight:400;
	line-height:45px;
	text-transform: capitalize;
}
h4 {
	color:#000000;
	font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 0;
    text-transform:capitalize;
}
h5 {
	margin: 0 0 0 0;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	color: #000000;
	font-weight: 700;
}
h6 {
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}
hr {
	padding: 0 0 0 0;
	margin:10px 0;
	display:inline-block;
	width:135px;
	height:1px;
	color: #180c66;
	border: 0;
}
hr.special {
	padding: 0 0 0 0;
	margin: 20px 0 0 0;
	border: 0;
	height: 34px;
	background: url(../img/hr-spec.png) no-repeat center center;
}
.medium-txt {
	padding: 10px 10%;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	font-weight: 300;
	font-style: italic;
	color: #333333;
}
.color {
	color: #1e9fb4;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height:30px;
	color: #666666;
	margin-bottom:30px;
}

/* Button Styles */

.button-large, .button-large:focus, .button-large:hover {
	padding: 17px 25px;
	margin: 25px 0 20px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
	color: #ffffff;
	font-weight: 700;
	background: #f20707;
	display: inline-table;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}
/* Lists */
li {
	list-style: none;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}


/* ==================================================== */
/* 02. Preloader Content Styles                         */
/* ==================================================== */

#mask {
	background-color:#ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100000;
}
#loader {
	background-image: url(../img/loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}
/* ==================================================== */
/* 03. Header Content Styles                            */
/* ==================================================== */
.left-top a {
    font-weight: 600;
    color: #212121;
    font-size: 16px;
}
.header-area {
	left: 0;
    margin: 0;
    padding:0 0 10px;
    position: fixed;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 9;
}
.header-area.navbar-fixed-top {
	position: fixed;
	padding:0 0;
	background: rgb(255 255 255 / 90%);
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
ul.left-top li {
    color: #2e2e2e;
}
.header-area.navbar-fixed-top .call-today {
	display:block;
}
.header-area-top {
	padding: 10px 0;
}
.header-area.navbar-fixed-top .header-right-sec {
    margin:5px 0 0;
	padding:3px 0 0 0;
}
.header-area.navbar-fixed-top .header-right-sec .nav-area li a {
	font-size:17px;
}
.header-area.navbar-fixed-top .logo-sec {
    padding: 0;
}
.header-area.navbar-fixed-top .logo-sec img {
	transition: all 0.5s ease 0s;
}
.header-top {
	margin: 0 0 0 0;
	padding: 25px 0;
	color: rgba(255, 255, 253, 0.4);
}
.logo-sec {
	margin: 0 0 0 0;
	padding: 5px ​0 0 ;
	float: left;
}
.logo-sec img {
    max-width: 180px;
    width: 100%;
	transition: all 0.5s ease 0s;
}
.header-right-sec {
	margin: 0 0 0 0;
	padding:20px 0 20px 0;
	float: right;
	transition: all 0.5s ease 0s;
}
.nav-area {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.nav-area ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav-area li {
	text-decoration: none;
	display: inline-table;
	padding:0 15px;
    text-transform: capitalize;
}
.nav-area li.active, .nav-area li:hover a,.nav-area li.active a {
	color: #c49e60;
	text-decoration:underline;
}
.nav-area li a,.sidebar-nav li a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #1a3853;
	text-transform: capitalize;
	font-size: 14px;
	display: block;
	font-weight: 400;
	text-decoration: none !important;
	letter-spacing: normal;
}
ul.left-top {
    float: right;
}
ul.rgt-top {
    float: right;
}
ul.left-top li {
    display: inline-block;
}
.rgt-top a:hover {
    background-color: #ba2020;
}
#contact-form button.submit:hover {
    background-color: #810303;
    border: 1px solid #810303 !important;
}
/**************drop Down******************/

.nav-area li:hover .sub-menu {
    display: block;
}
.nav-area li .sub-menu li {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav-area li .sub-menu li:hover a ,.nav-area li .sub-menu li.active {
	background:#cdaa71;
    transition: all 0.3s ease-in 0s;
	text-decoration:none;
}
.nav-area li .sub-menu li a {
    color:#fff;
    background: hsl(280, 5%, 11%) none repeat scroll 0 0;
    border: 0 none;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0;
    padding: 5px 40px 5px 20px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
	text-decoration: none !important;
}
.nav-area li .sub-menu {
    display: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
	border-bottom:2px solid #c49e60;
}
ul.menu-main li a {
    font-size: 18px;
    color: #232323;
    font-weight: 500;
}
/* ==================================================== */
/* 04.Banner Content Styles                             */
/* ==================================================== */

.banner-sec {
	width: 100%;
	background:#1c1a1d;
    background:url(../img/banner-img-01.jpg) no-repeat scroll;
	background-size:cover;
    position: relative;
}
.bg-banner-full {
	background-size:cover;
}
.quick-contact-area p {
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    width: 54%;
    margin: 0 auto;
    padding: 10px 0;
    line-height: 21px;
    letter-spacing: 0.2px
}
.banner-left h2 {
    font-size: 27px;
    line-height: 35px;
    margin: 0 auto;
}
ul.banner-list {
    padding: 40px 0;
}
.banner-left {
    text-align: left;
    padding-top: 100px;
}
.banner-left p {
    font-size: 16px;
    color: #000000;
    padding-top: 5px;
}
.white-solid {
    margin: 0;
    padding: 0;
    width: 100%;
	color: #04040459;
	background-color: #ffffffd9;
}
.btm-bg img {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
.banner-left button.submit {
    text-align: left;
    margin: 0 0;
    background: #ba2020;
}

.banner-mid-text {
	margin: 0 auto;
    text-align:right;
    width: 100%;
	padding:180px 0 80px;
    font-weight: 500;
}
.banner-left button.submit {
    text-align: left;
    margin: 0 0;
    background: #ba2020;
}
select#product {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #EFEFEF;
    background-color: #FFFFFF;
    color: #6f6f6f;
    padding:10px 10px 10px 6px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}
ul.banner-list li {
    display: inline-block;
    padding: 10px 10px;
}
ul.banner-list li img {
    width: 100%;
    max-width: 22px;
    vertical-align: text-top;
}
ul.banner-list li a {
    font-weight: 500;
    text-transform: capitalize;
}
.second-btm-bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
.second-btm-bg-mn h2 {
    width: 67%;
    margin: 0 auto;
    line-height: 1.4;
    font-size: 31px;
}
.team-sub-hd {
    padding:30px 0 25px;
}
.team-sub-hd h2 {
    padding-top: 15px;
}
/* ==================================================== */
/* 05. Our team Content Styles                          */
/* ==================================================== */
.team-content li {
    display: inline-block;
    padding: 0 30px;
}
.img-round img {
    width: 250px;
    height: 250px;
}

.img-round.second-rd img {
    border-radius: 31% 69% 43% 57% / 28% 37% 63% 72%;
}
.img-round.first-rd img {
    border-radius: 30% 83% 71% 69% / 34% 39% 100% 100%;
}
.img-round.third-rd img {
    border-radius: 75% 100% 100% 69% / 92% 69% 94% 65% ;
}


/* ==================================================== */
/* 06. Parallax-02 Content Styles                         */
/* ==================================================== */

/* .parallax-action-two {
	padding:100px 0 100px;
	text-align: center;
	background:url(../img/paralax-img_02.jpg) no-repeat;
	background-size:cover;
	position:relative;
	background-attachment:fixed;
} */
section.our-menu-bg-b {
    padding-top: 30px;
}
.color-footer {
    color: #f7b7b7 !important
}
i.fa.fa-plus {
    float: right;
    font-size: 13px;
    font-weight: 100;
}
.btm-bg-mn-lft {
    float: left;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
.btm-bg-mn-lft img {
    max-width:250px;
    width: 100%;
}
/* .second-btm-main button#banner-button {
    margin-bottom: 40px;
} */

.btm-bg-mn-rgt img {
    max-width:300px;
    width: 100%;
}
.second-btm-bg-mn {
    position: relative;
}
.btm-bg-mn-rgt {
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
}
.our-team {
    padding:70px 0 0;
	text-align: center;
	/* background:url(../img/second-bottom.png) no-repeat scroll;
	background-size:cover;*/
    background-color: #fedad6; 
}
/* .second-btm-bg-mn {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
} */
.list-colm p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #252525;
    width: 77%;
    margin-bottom: 10px;
}
/* ==================================================== */
/* 07. community Content Styles                         */
/* ==================================================== */

.menu-area {
	background:#fff;
	padding:80px 0 80px;
	text-align:center;
}
.menu-content-mid > p {
    padding:0 9%;
}
.menu-items-box {
	text-decoration:none !important;
    padding:20px 0;
}
.menu-items-box a {
	text-decoration:none !important;
	overflow: hidden;
	letter-spacing:normal;
}
.menu-items-box strong {
	color: hsl(0, 0%, 0%);
	font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 0;
    text-transform: capitalize;	
}
.menu-items {
    margin-bottom:30px;
}
.img-hme {
    display: block;
}
.overlay-sec {
	display:table-cell;
	cursor: pointer;
    height:100%;
    background:rgba(220, 197, 160, 0.8);
    transition: all 0.3s ease 0s;
	opacity:0;
    position: absolute;
    top: 0;
    width:100%;
	left:0;
}
.menu-items-box a:hover .overlay-sec {
    opacity: 1;
}
.menu-items figure {
    position: relative;
}
.overlay-outr {
    position: relative;
    margin-bottom: 15px;
}
/* ==================================================== */
/* 08. Reservations Content Styles                         */
/* ==================================================== */

.story-area.reserve {
	background:#fff;
	padding:100px 0 200px;
	text-align:center;
}

/* ==================================================== */
/* 09. chef Content Styles                              */
/* ==================================================== */

.chef-outr-sec {
	background:#ffffff;
	position: relative;
	/* min-height: 535px; */
}
.chef-left-sec {
    float: left;
    padding-top:230px;
    text-align: left;
}
.chef-left-sec h4 {
	font-family: 'Roboto', sans-serif;
	font-size:36px;
	color:#000000;
	text-transform:uppercase;
	margin-bottom: 5px;
}
.chef-left-sec h5 {
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	color:#666666;
	text-transform:uppercase;
	margin-bottom: 0;
	font-weight: 400;
}

.chef-right-sec {
    float: right;
    padding-top:100px;
    text-align: left;
    width: 50%;
}
.chef-mid-sec img {
	width:80%;
	max-width:530px;
}
.contact-area {
    padding: 60px 0 60px 0;
    text-align: center;
}
.contact-in {
    margin-top: -170px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
    display: -webkit-box;
}
.contact-list-icon li {
    color: #FFFFFF;
    padding-left: 10px;
}
ul.contact-list-icon li a {
    color: #ffffff;
}
.contact-area-left {
    padding: 40px 0 40px 0;
    text-align: center;
    background-color: #091c2d;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 20%);
}
span.icon-list-icon {
    display: block;
    padding: 5px 0;
    font-size: 19px;
}
.contact-area-left h4 {
    color: #FFFFFF;
    padding: 10px 0 10px;
}
.contact-area-left p {
    color: #ffffff;
    padding: 0 15px;
}
/* .contact-area-rgt {
    padding-left: 0;
    padding-right: 0;
} */
.quick-contact-area {
    background-color: #ba2020;
    padding: 20px 20px;
    border-radius: 17px;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 20%);
}
#contact-form input {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #EFEFEF;
    background-color: #FFFFFF;
    color: #070707;
    padding:10px 10px ;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}
textarea#contact-msg {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #EFEFEF;
    background-color: #FFFFFF;
    color: #070707;
    padding:10px 10px ;
    width: 100%;
    max-width: 100%;
    font-size: 14px;

}

/* ==================================================== */
/* 10. Speak with Us NOW Styles                        */
/* ==================================================== */

.subscribe-area {
	padding: 65px 0;
	background: #1a3853;
	position: relative;
}
.subscribe-right {
	float: right;
}
.subscribe-left img {
    position: absolute;
    top: -132px;
}
.subscribe-newsletr h4 {
    color:#fff;
    display: inline-block;
	margin:0;
	vertical-align: text-bottom;
}
.subscribe-newsletr input {
    background:#ffffff;
    border: medium none;
    border-radius: 5px;
    color:#121013;
    font-size: 14px;
    height: 50px;
    margin: 0 10px 0 30px;
    padding: 15px 20px;
    width: 340px;
	font-family: 'Roboto', sans-serif;
	vertical-align: super;
}
.subscribe-newsletr button {
	font-family: 'Roboto', sans-serif;
    background:#ffffff;
    border: medium none;
    border-radius: 5px;
    color:#1a3853;
    font-size: 18px;
    height: 50px;
    padding: 15px 20px;
    width:155px;
	text-transform:uppercase;
	vertical-align:top;
}
.menu-icon {
    background-color: #1a3853;
    color: #ffffff !important;
    padding: 10px 20px;
    border-radius: 29px;
	font-weight: 500;
}
/* ==================================================== */
/* 11. Footer Black Styles                              */
/* ==================================================== */

.footer-black {
	padding:40px 0 0;
	background:#091c2d;
}
.footer-area p {
    padding-bottom: 20px;
	color: #ffffff;
}
.three-itm-btm p {
	font-family: 'Roboto', sans-serif;
    color: hsl(0deg 0% 100%);
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
	margin-right:35px;
	margin-bottom: 10px;
}
.three-itm-btm span {
    display: block;
}
.ftr-black-left h6 {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0;
}
.ftr-black-left hr {
    width:150px;
}
.ftr-black-rgt .three-itm-btm > p {
    margin-right: 10px;
	margin-bottom: 10px;
}
.ftr-black-rgt h6 {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0;
}


/* ==================================================== */
/* 12. Footer Main Styles                               */
/* ==================================================== */

footer {
    text-align: left;
    padding: 55px 0;
    background-color: #021b4d;
    color: #ffffff;
}
.hd-footer {
    font-weight: 500;
    font-size: 18px;
    padding:5px 0 0;
}
footer a {
    font-size: 17px;
    color: #ffffff !important;
}
.email-id {
    font-weight: 400;
    /* text-decoration: underline !important; */
    border-bottom: 1px solid #f7b7b7 !important;
}
.footer-p {
    font-size: 18px;
    width: 85%;
    color: #ffffff;
    line-height: 23px;
    padding-top: 15px;
    letter-spacing: 0.1px;
    margin-bottom: 0;
    font-weight: 400;
}
footer a:hover {
    color: #f7b7b7 !important;
}
ul.footer-list.social-icons li {
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 0 10px;
}
.tablink.active {
    background-color: #fedad6;
    color: #000066;
    border-bottom: none !important;
}

.left-top i {
    font-size: 17px;
    color: #141414;
    padding-right: 5px;
}
.active {
    color: #ba2020;
    border-bottom: 1px solid #ba2020 !important;
}
.footer-area p {
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	color:#666666;
	margin-bottom:0;
}
.footer-area a {
	font-size: 13px;
    letter-spacing: normal;
    text-decoration: none !important;
    text-transform: capitalize;
	color:#666666;
}
.social-icons {
	margin: 10px 0 20px 0;
    padding: 0;
    display: inline-block;
}
.social-icons  ul {
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0;
}
.social-icons  ul li {
    display: inline-table;
    margin: 0;
    padding:0 5px;
}
.social-icons  ul li a {
    background:#1a3853;
    border-radius: 50%;
    color:#ffffff;
    display: block;
    font-size:16px;
    height:30px;
    margin: 0;
    padding:3px 0 0 0;
    text-align: center;
    text-decoration: none;
    width:30px;
}
.social-icons  ul li a:hover {
    background:#777677;
    color: #1c1a1d;
    text-decoration: none;
}
ul.rgt-top li {
    display: inline-block;
    color: #ffffff;
}
ul.rgt-top li a {
    color: #2e2e2e;
    background-color: #170b66;
    color: #ffffff !important;
    padding: 15px 20px;
    /* border-radius: 29px; */
    font-weight: 500;
}
.top-head {
    float: right;
}
.rgt-top a {
    background-color: #170b66;
    color: #ffffff !important;
    padding: 15px 20px;
    font-weight: 500;
    margin-left: 6px;
}
/*****************slidebar*********************/

.togg-navi {
    display: none;
}
.first-field.error, .second-field.error, .third-field.error, .forth-field.error {
    border-bottom: 1px solid hsl(0, 100%, 50%);
}
.parallax-content-sec h5 {
    color: white;
    font-size: 25px;
}
.parallax-content-sec h3 span {
    color: #c49e60;
}
/****************************************************************************************************/
/*                            Contact internal page Styles                      
/****************************************************************************************************/

/* ==================================================== */
/*           13. Contact banner Styles                    */
/* ==================================================== */

.internal-banner {
    background-attachment: fixed;
    text-align: center;
}
.internal-header {
    padding:150px 0 80px;
}
.internal-header h2 {
    color:#ffffff;
    font-size: 57px;
	line-height: 65px;
    margin-bottom: 0;
	font-family: 'Roboto', sans-serif;
}
.internal-header .hr-outtr-line hr {
    width: 155px;
}
.contact-area {
	padding:20px 0 150px 0;
	text-align:center;
}
.contact-middle-area {
    margin-bottom:70px;
}

.contact-middle-area > p {
    line-height: 30px;
    padding:0 10%;
	font-size:16px;
}
section#Welcome\ bttm-cc {
    padding: 20px 0 140px 0;
}
/* ==================================================== */
/*   14. Contact-Map & Form Content Styles                 */
/* ==================================================== */

#map {
	height: 370px;
    width: 100%;
}
.quick-contact-box-left {
    float: left;
}
.quick-contact-box-right {
    background:#ffffff;
    display: block;
    float: right;
    padding: 10px;
    width: 50%;
}
.contact-form-details li {
    display: list-item;
}
.contact-form-details li input {
	font-family: 'Roboto', sans-serif;
	border:none;
	background:#ffffff;
	padding:0 10px;
	font-size:14px;
	width:555px;
    color: #666666;
    font-size: 14px;
}
.contact-form-details li:nth-child(5n+3) ,.contact-form-details li:nth-child(5n+4) {
    margin-right: 0;
}
.contact-form-details li textarea {
	font-family: 'Roboto', sans-serif;
	border:none;
	padding-top: 5px;
	background:#ffffff;
	padding-left:10px;
    color: #666666;
    font-size: 16px;
	width:100%;
    margin-bottom:10px;
    font-size: 14px;
}
ul.main-list-subbb li {
    padding: 10px 0;
}
ul.main-list-subbb li a {
    padding: 10px 10px;
    background: #f9f9f9;
    display: block;
}
ul.main-list-subbb li a {
    padding:20px 15px 30px 25px;
    background: #f9f9f9;
    display: block;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #EFEFEF;
    border-radius: 16px;
    margin-bottom: 15px;
}
.team-sub-hd-hd {
    padding:0 0 40px 0;
    text-align: center;
    width: 58%;
    margin: 0 auto;
}
.team-sub-im {
    padding:10px 0 40px;
    text-align: center;
    width: 46%;
    margin: 0 auto;
}
.quick-bg-area {
    background-color: #ffffff;
    border-radius:10px 10px;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 20%);
    padding: 50px 15px;
}
ul.main-list-subbb {
    padding-left: 15px;
}
.list-content {
    padding-left: 15px;
    font-weight: 400;
    font-size: 15px;
}
.list-sub-main {
    padding: 60px 0 70px;
}
.team-sub-im h2 {
    line-height: 33px;
}
/* .testimonal-main {
    padding: 80px 0;
} */
.tab-main {
    text-align: right;
}
tr.table-spl-spl button.submit {
    /* padding: 15px 0; */
    /* display: table-cell; */
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    padding: 7px 31px;
}
th {
    text-align: center;
}
.table > tbody > tr > td {
    border-top: 1px solid #444444 !important;
    font-size: 17px;
    font-weight: 400;
    color: #171c5d;
    padding-left: 20px;
    text-align: center;
}
.table-spl {
    margin-bottom: 0;
    padding: 30px 0 0;
    font-style: italic;
    font-size: 13px;
}
.table > tbody > tr > td:first-child {
    text-align: left; 
}
.table > thead:first-child > tr:first-child > th:first-child {
border-radius: 15px 0 0 0;
}
/* .table > thead:first-child > tr:first-child > th:last-child {
    border-radius: 0 15px 0 0;
    } */
    .img-round.second-rd-sub img {
        border-radius: 30% 83% 71% 69% / 34% 39% 100% 100%;
    }
    .img-round.second-rd-sub {
        padding-top: 0;
        position: relative;
        top:-73px;
        float: right;
    }
    .team-sub-hd-hd img {
        max-width: 43px;
        padding-bottom: 15px;
    }
    .img-round.second-rd-sub img {
        width: 330px;
        height: 330px;
    }
    .sign-up-sec button.submit:hover {
        background: #280dd6;
    }
    section.sign-up {
        height: 214px;
        background-color: #000066;
        margin-top: 75px;
        padding-top: 11px;
    }
    i.fa.fa-check {
        color: #3e3e3e;
        font-weight: 100;
    }
    .sign-up-cont h4 {
        color: #ffffff;
        font-size: 26px;
        padding-top: 25px;
        text-align: left;
        margin-bottom: 7px;
        text-transform: inherit;
        font-weight: 500;
    }
    .sign-up-sec button.submit {
        text-align: left;
        margin: 0 0;
    }
    .sign-up-cont p {
        color: #ffffff;
        /* letter-spacing: 0px; */
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 26px;
    }
    /* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  button.collapsible.last {
    font-weight: 500;
}
  button.tablinks{
    background: none;
    border: none;
    font-weight: 600;
    font-size: 20px;
}
.cnt-spn {
    display: block;
    width:84%;
    margin-left: 81px;
}
.team-sub-im img {
    max-width: 43px;
    padding-bottom: 15px;
}
.team-sub-hd img {
    max-width: 43px;
    padding-bottom:10px;
}
.second-btm-main button.submit {
    margin-bottom: 35px;
}
.resrve-sections img {
    float: left;
}
.img-spn {
    /* display: inline; */
    float: left;
    padding: 0 10px 55px;
}
.img-spn img {
    width: 100%;
    max-width: 51px;
}
a.guests-in.sml-in {
    font-size: 15px;
    color: #e22c2c;
    border-bottom: 1px solid #e22c2c !important;
    font-weight: 500;
}
.list-right-content p {
    line-height: 24px;
}
button.tablinks:hover {
    color: #ba2020;
    border-bottom: 1px solid #ba2020 !important;
}
.tab {
    padding: 15px 0;
    text-align: center;
}

.frequently-ask {
    padding: 80px 0 20px;
}
.frequently-ask h2 img {
    padding-right: 10px;
}
.sign-up-cont {
    float: left;
}
ul.list-0 {
    padding-left: 16px;
    display: inline-block;
}
ul.list-0 {
    padding-left: 16px;
    display: inline-block;
}
ul.main-list-subbb li ul.list-0 li {
    padding:6px 0 0;
}
.list-ab {
    padding: 10px 0 0;
}
ul.main-list-sub li a {
    padding:32px 0 0 60px;
    display: block;
    font-weight: 500;
    color: #333333;
}
.list-colm p {
    padding-top:27px;
}
.list-right-content h4 {
    font-size: 18px;
    font-weight: 600;
    color: #180c66;
}
.list-right-content p {
    line-height: 21px;
    font-size: 15px;
}
.list-ab-left {
    float: left;
}
span.img-rd {
    width: 80px;
    background-color: #180c66;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    align-items: baseline;
}
.img-rd img {
    width:50px;
    padding-top: 15px;
}
.main-list-sub li a img {
    width: 100%;
    max-width: 35px;
}
button.submit {
	background:#ba2020;
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 17px;
    font-weight:400;
    margin: 0 auto;
    text-align: center;
	border:none;
    border-radius: 23px;
    padding: 10px 55px;
}
button.submit:hover {
	background: #180c66;
	transition: all 0.5s ease 0s;
	color:#fff;
}
#contact-form button.submit {
    background: #180c66;   
    border: 1px solid #180c66 !important;
}
.collapsible {
    background-color: #fff;
    color: #292929;
    cursor: pointer;
    padding:18px 0 10px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid #006633 !important;
  }
  button.collapsible.last {
    border-bottom: none !important;
}
  footer {
    text-align:left;
    padding: 50px 0 0;
    background-color: #021b4d;
}
ul.footer-call li a {
    font-weight: 500;
}
ul.footer-call li {
    font-weight: 400;
    line-height: 21px;
}
ul.footer-call {
    padding-top: 15px;
}

  .content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
  }
.collapsible:hover {
    background-color: #fff;
  }
  .content {
    padding: 10px 0;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
  }
  #singapore i.fa.fa-plus {
    float: right;
    font-size: 13px;
    font-weight: 100;
}
.content p {
    margin-bottom: 0;
}
.testimonal-main {
    padding-bottom: 65px;
}
/**************error-style************************/

.quick-contact-box-left div {
    color:#ff0000;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.main-list-subbb li a:hover {
    background-color: #fedad6;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 5%);

}
.table {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f6f6f6;
    padding: 0 15px;
}

ul.main-list-subbb li {
    max-width: 457px;
    width: 100%;
    margin-left: 15px;
}
/* .list-ab {
    padding: 10px 0;
} */
/* ==================================================== */
/*   15. Contact-adresss  Content Styles                   */
/* ==================================================== */

.contact-list {
	margin:105px 0 0 0;
	padding:0;
}
.contact-list ul {
	list-style:none;
}
.contact-list li {
	text-align:center;
}
.contact-list li i {
	font-size:48px;
	color:#091c2d;
	margin-bottom:16px;
}
.contact-list li h5 {
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	color:#333333;
	text-transform:capitalize;
	font-weight:500;
	margin-bottom:22px;
	margin-bottom: 20px;
}
.contact-list li h6 {
	margin-bottom:15px;
	font-size:14px;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
	text-transform:capitalize;
	color:#333333;
}
.contact-list li a {
	font-weight:400;
	color:#1a3853;
	font-size:14px;
	font-family: 'Roboto', sans-serif;
	display:block;
	letter-spacing:normal;
	text-transform:capitalize;
	text-decoration:none !important;
}
.table {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f6f6f6;
    padding: 0 15px;
}
thead.top-blue {
    background-color: #170b66;
    border-radius: 25px !important;
}
.table > thead > tr > th {
    vertical-align: inherit;
    border-bottom: inherit;
    color: #ffffff;
    font-size: 18px;
}
.tablink {
    background-color: #393939;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    border: none;
    padding: 10px 50px;
}
.tablink:hover {
    background-color: #fedad6;
    color: #170b66;
}
#defaultOpen i {
    padding-left: 5px;
}
thead.top-blue img {
    max-width: 28px;
    width: 100%;
}
/* ==================================================== */
/* 20. Media Query                                      */
/* ==================================================== */


@media (max-width: 1200px) { /* This media query is written for 1400PX resolution devices */
 .btm-bg-mn-lft img {
    max-width: 150px;
    width: 100%;
}
.btm-bg-mn-rgt img {
    max-width: 178px;
    width: 100%;
}
.menu-items img {
    width: 100%;
}
.three-itm-btm p {
    margin-right: 12px;
}
.three-itm-btm span {
    display: inline;
}
.quick-contact-box-left {
    width: 48%;
}
.contact-form-details li input {
    width: 100%;
}
.quick-contact-box-right {
    width: 49%;
}
.overlay-sec {
    height: 100%;
    width: 100%;
}

}
 @media (max-width: 1100px) { /* This media query is written for 1100PX resolution devices */
 
.contact-list li {
    margin-bottom: 20px;
} 
.blog-left-sec {
    width: 100%;
	float:left;
}
.blog-right-sec {
    width: 100%;
	float:left;
}
.yellow-solid {
    padding-top: 40%;
}
/***************row*****************/
.parallax-action .row {
    margin: 0;
}
.menu-area .row {
    margin: 0;
}
.chef-outr-sec .row {
    margin: 0;
}
.blog-outr-sec .row {
    margin: 0;
}
.footer-area .row {
    margin: 0;
}
.features-more-area .row {
    margin: 0;
}
.resrvation-top-area .row {
    margin: 0;
}
.reservation-more-area .row {
    margin: 0;
}
.our-menu-bg .row {
    margin: 0;
}
.subscribe-right {
    width: 88%;
}
.contact-middle-area > p {
    padding: 0 15px;
}
/********************************/
 
}
ul.team-content li {
    padding: 15px 15px;
}
 @media (max-width: 991px) { /* This media query is written for Ipad and tablets */
    .img-round.second-rd-sub {
        padding-top: 0;
        position: relative;
        top: -23px;
        float: right;
        width: 40%;
    }
 
    section.sign-up {
        height: 284px;
        background-color: #000066;
        margin-top: 75px;
        padding-top: 41px;
    }
    .frequently-ask {
        padding: 35px 0 20px;
        text-align: center;
    }
    .sign-up-cont {
        width: 60%;
        padding-top: 25px;
    }
    footer {
        text-align: center;
    }
    .footer-p {
        width: 100%;
        margin-bottom: 9px;
    }
    .sign-up-cont h4 {
        padding-top: 5px;
        font-size: 21px;
        text-align: center;
    }
    
    .sign-up-cont p {
        color: #ffffff;
        /* letter-spacing: 0px; */
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 26px;
        line-height: 1.6;
    }
    .img-round.second-rd-sub img {
        width: 250px;
        height: 250px;
    }
   .img-spn {
        display: block;
        float: inherit;
        padding: 0 0;
        margin: 0 auto;
        text-align: center;
    }
    .team-sub-im {
        width: 100%;
    }
    .second-btm-bg-mn h2 {
        width: 100%;
    }
    ul.main-list-subbb {
        padding-left: 0;
    }
    ul.main-list-subbb li {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
    }
    ul.main-list-sub {
        width: 70%;
        margin: 0 auto;
    }
    .list-colm p { 
        width: 95%;
        text-align: center;
    }
    tr.table-spl-spl button.submit { 
        font-size: 15px;
        padding: 7px 12px;
    margin: 15px auto;
    }
    .table > thead > tr > th {
        font-size: 15px;
    }
    .testimonal-main {
        padding-bottom: 35px;
    }
    .team-sub-im {
        width: 100%;
    }
    .banner-left {
        text-align: center;
        padding-top: 100px;
    }
    .team-sub-hd-hd {
        width: 100%;
    }
    .banner-left button.submit {
        text-align: center;
        margin: 0 auto;
    }
  
	.menu-area {
		padding: 40px 0 40px;
	}
	.our-menu-details {
		margin-bottom: 0;
	}
	
	.banner-mid-text {
		padding:100px 0 40px;
	}
    
    .about-story-area {
        padding: 40px 0 40px 0;
        text-align: center;
    }
	.story-area {
		padding: 40px 0;
	}

.abut-story-left {
	margin-bottom:30px;
}
.quick-contact-area p {
    width: 100%;
    font-size: 19px;
    padding-bottom: 18px;
}
 
}
 @media (max-width: 768px) { /* This media query is written for Mobile landscape and Ipad and tablets portrait */
    ul.main-list-sub {
        width: 80%;
        margin: 0 auto;
    }
    .table > thead > tr > th {
        font-size: 12px;
    }
    .table > tbody > tr > td:first-child {
        text-align: left;
        padding-left:10px;
    }
    .tablink {
        padding: 10px 8px;
        font-size: 12px;
    }
    .table > tbody > tr > td {
        padding-left: 0;
    }
    .btm-bg-mn-lft img {
        max-width: 100px;
        width: 100%;
    }
    .btm-bg-mn-rgt img {
        max-width: 100px;
        width: 100%;
    }
    .testimonal-main {
        padding-bottom: 10px;
    }
    .our-team {
        padding: 30px 0 0
    }
    .banner-left h1 {
        font-size: 32px;
        line-height: 38px;
    }
    ul.banner-list {
        padding: 20px 0;
    }
}
 @media (max-width: 767px) { /* This media query is written for Mobile only */
    section.sign-up {
        margin-top: 40px;
        height: 515px;
    }
    .banner-left {
        text-align: center;
        padding-top: 30px;
    }
    
.table-spl {
    margin-bottom: 0;
    padding: 10px 0 0;
    font-size: 11px;
    line-height: 18px;
}
.sign-up-sec button.submit {
    text-align: left;
    margin: 0 auto;
}
 
/*****************toggle-style***********************/

.nav-area li .sub-menu {
    display: block;
}
.logo-sec {
	width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
}
.header-right-sec {
    float: none;
    text-align: center;
	padding:0;
}
.togg-navi {
    display: block;
}
.togg-text-menu {
    /* background: hsla(0, 0%, 0%, 0.4) none repeat scroll 0 0; */
    float: left;
    font-size: 30px;
    margin: 0 auto;
    padding:12px 0 8px 10px ;
    text-align: left;
    width: 100%;
	color:#170b66;
}
.menu-main {
    display: none;
}
.nav-area ul {
    /* background: hsla(0, 0%, 0%, 0.4) none repeat scroll 0 0; */
    padding-top:65px;
	padding-bottom: 30px;
}
.about-story-area {
    padding: 10px 0 10px 0;
}
.nav-area li {
    display: list-item;
    padding: 5px 0;
}
.header-area {
    padding:15px 0 25px;
}

/***************header-fixed*******************/

.header-area {
    position: static;
}
.header-area.navbar-fixed-top {
    position: static;
}

.logo-sec img {
    margin-top: 5px;
}
.header-area.navbar-fixed-top .call-today {
    display: block;
}
.header-area.navbar-fixed-top .header-right-sec {
    margin: 0;
}
.togg-text-menu i {
    cursor: pointer;
}
.nav-area li .sub-menu {
    position: static;
}
.nav-area li .sub-menu li a {
    background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
    text-align: center;
	padding: 6px 0;
}
.nav-area li a, .sidebar-nav li a {
	font-size:14px;
}
.banner-mid-text {
    padding: 40px 0 40px;
}
/**************************************/

.logo {
    float: left;
    padding-left: 15px;
}
.togg-navi {
    float: right;
    padding-right: 15px;
}

.footer-black {
    text-align: center;
}
.sign-up-cont {
    width: 100%;
    padding-top: 25px;
    text-align: center;
    float: inherit;
}
.img-round.second-rd-sub {
    padding-top: 0;
    position: inherit;
    top: -23px;
    float: right;
    width: 100%;
    left: 0;
    right: 0;
    margin: 25px auto;
    text-align: center;
}
tr.table-spl-spl button.submit {
    font-size: 12px;
    padding: 7px 6px;
    margin: 15px auto;
    border-radius: 13px;
}


 }
 @media (max-width: 480px) { /* This media query is written for Mobile only */

    .team-sub-im h2 {
        line-height: 32px;
        font-size: 24px;
    }

}
 @media (max-width: 414px) { /* This media query is written for Mobile only */
 
 
}
 @media (max-width: 380px) { /* This media query is written for Mobile only */
 


}
 @media (max-width: 320px) { /* This media query is written for Mobile only */

}
